<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body ng-app="ShoppingListCheckOff">
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController as buylist">
     <h2>To Buy:</h2>
     <ul>

         <div class="row" ng-repeat="to_buy_item in buylist.to_buy_items">
            <li >
            <div class="col-md-4">
              Buy {{to_buy_item.quantity}} {{to_buy_item.name}}
            </div>
            <div class="col-md-2">
              <button class="btn btn-default" ng-click="buylist.buyItem($index)"><span class="glyphicon glyphicon-ok"></span> Bought</button>
            </div>
            </li>
         </div>

     </ul>
     <div class="emptyMessage"ng-if="buylist.isEmpty()">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as boughtlist">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="bought_item in boughtlist.bought_items">
         Bought {{bought_item.quantity}} {{bought_item.name}}
       </li>
     </ul>
     <div class="emptyMessage" ng-if="boughtlist.isEmpty()">Nothing bought yet.</div>
    </div>
  </div>
</div>

<script src="scripts/angular.min.js"></script>
<script src="scripts/app.js"></script>
</body>
</html>
